html
  head
    title New Tab!
    link(rel="stylesheet" href="style.css")
    script(src="angular.min.js")
    script(src="all.min.js")

  body(ng-app="newtab" ng-csp)
    .scratches
    h1 STATUS
    .cpu-info(ng-controller="CPUCtrl")
      //- div {{info}}
      .model-name {{info.modelName}}
      .processor(ng-repeat="processor in info.processors track by $index")
        .bar
          .inner(ng-style="processorStyle($index)")
