html
  head
    title New Tab!
    link(rel="stylesheet" href="style.css")
    script(src="angular.min.js")
    script(src="all.min.js")

  body(ng-app="newtab")
    h1 Get excited! It's a new tab!!!!
    div(ng-controller="CPUCtrl") {{info}}
