html
  head
    title New Tab!
    link(rel="stylesheet" href="style.css")
    script(src="angular.min.js")
    script(src="all.min.js")

  body(ng-app="newtab" ng-csp)
    .city
    .scratches
    .ui(ng-repeat="pass in [1,2]")
      .panel.cpu-info(ng-controller="CPUCtrl")
        //- div {{info}}
        .label CPU STATUS - NOMINAL<br>{{ info.modelName }}
        .value.usage(ng-repeat="processor in info.processors track by $index")
          .bar
            .inner(ng-style="processorStyle($index)")

        .label MEMORY USAGE - {{ memoryPercent(memory) | number:0 }}%
        .value.usage
          .bar
            .inner(ng-style="memoryStyle(memory)")

      .panel.weather
        .label LOCAL CONDITIONS<br>70 AND SUNNY
